body {
  background-color: #2a2a2a;
  color: #f8f8f2;
  font-size: 13px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page {
  position: relative;
  top: -40px;
}

#content {
  margin-top: 20px;
}

#header {
  margin-bottom: 2em;
}

pre {
  overflow: scroll;
}

.post {
  .summary {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 0;
    font-size: 1.4em;
    text-align: center;
    color: #a6e22e;
  }

  p {
    font-size: 1.1em;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 3.5em;
    color: #66d9ef;
    margin-top: 0;
    margin-bottom: .5em;
    padding: 0;
  }

  h2 {
    font-size: 2.5em;
    padding: 0px;
    color: #f6aa11;
    margin-top: 0;
    margin-bottom: .5em;
    padding: 0;
  }

  h3 {
    font-size: 2.5em;
    font-weight: normal;
    padding: 0px;
    margin-top: 0;
    margin-bottom: .5em;
    padding: 0;
    color: #66d9ef;
  }

  h4 {
    font-size: 2em;
    font-weight: normal;
    padding: 0px;
    color: #f6aa11;
    margin-top: 0;
    margin-bottom: .5em;
    padding: 0;
  }
}

ul.social {
  margin-top: 10px;
  text-align: center;

  li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;

    a {
      font-family: arial black;
      font-weight: 400;
      text-decoration: none;
      color: white;
      text-indent: -9999px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
    }

    &.github a {
      background-image: url('octocat.png');
    }

    &.facebook a {
      background-image: url('facebook.svg');
    }

    &.phusion a {
      background-image: url('phusion.png');
    }

    &.aeroscan a {
      background-image: url('aeroscan.png');
    }

    &.twitter a {
      background-image: url('x.svg');
      filter: invert(1);
    }

    &.linkedin a {
      background-image: url('linkedin.svg');
    }

    &.bosun a {
      background-image: url('bosun.png');
    }
  }
}

#header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20px * 18;

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;

    td {
      margin: 0;
      padding: 0;

      width: 20px;
      height: 20px;
    }
    td.colored {
      background-color: white;
    }
  }
}
