body {
  background-color: gray;
  color: white;
}

#page {
}

#content {
  margin-top: 20px;

  text-align: center;
  .social {
    margin-top: 10px;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 1em;

      a {
        font-family: impact, arial black;
        text-decoration: none;
        color: white;
      }

      img {
        padding-right: 10px;
        padding-top: 5px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

#header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20px * 18;

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;

    td {
      margin: 0;
      padding: 0;

      width: 20px;
      height: 20px;
    }
    td.colored {
      background-color: white;
    }
  }
}
