body {
  background-color: gray;
  color: white;
}

#content {
  margin-top: 20px;
}

ul.social {
  margin-top: 10px;
  text-align: center;

  li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;

    a {
      font-family: arial black;
      font-weight: 400;
      text-decoration: none;
      color: white;
      text-indent: -9999px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
    }

    &.github a {
      background-image: url('octocat.png');
    }

    &.facebook a {
      background-image: url('facebook.png');
    }

    &.phusion a {
      background-image: url('phusion.png');
    }

    &.twitter a {
      background-image: url('twitter.png');
    }
  }
}

#header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20px * 18;

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;

    td {
      margin: 0;
      padding: 0;

      width: 20px;
      height: 20px;
    }
    td.colored {
      background-color: white;
    }
  }
}
